/*Pagina index*/
header, nav, article, section, aside, footer{
    width: 100%;
    border: 5px solid white;
}

header{
    border: 5px solid rgb(214, 70, 70);
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

h1{
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-left: 150px;
}

.Cabecera{
    width: 500px;
    border-radius: 60%;
    margin-top: -150px;
    margin-left: 10px;
}

nav{
    text-align: center;
    font-size: 22px;
}
nav>a{
    margin: 10px;
    text-decoration: none;
}

.Intro{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

article{
    border: 5px solid rgb(214, 70, 70);
}

section{
    border: 5px solid rgb(214, 70, 70);
    width: 18%;
}

.Imgestrenos{
    float: right;
    width: 700px;
    margin-top: -230px;
    margin-right: 250px;
}

.Imgestrenos:hover{
    opacity: 70%;
}

footer{
    text-align: center;
    border: 5px solid rgb(214, 70, 70);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 19px;
}

footer>a{
    text-decoration: none;
    margin: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}

footer>a:hover{
    color: black;
    background-color: #cf556c;
}

/*Pagina Contacto*/

/*Pagina Acerca De*/