body{
    background-color:gainsboro;
}
h1{
    color:rgb(192, 8, 8);
    text-decoration: underline;
    text-align: center;
    font-family:'Gill Sans MT';
}
header>h2{
    text-align: left;
}
h2{
    text-align: center;
}
h3{
    text-align: left;
}
.foto1{
    text-align: center;
}
.banda{
    text-align: center;
}
.video{
    text-align: center;
}
.acceso{
    text-align: center;
}


